/* header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;

  .logo {
    font-size: 25px;
    font-weight: 600;
    color: #8a4baf;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  .link {
    display: flex;
    gap: 2rem;

    @media (max-width: 768px) {
      gap: 0.5rem;
    }

    a {
      text-decoration: none;
      color: #333;
      transition: 0.3s;

      &:hover {
        color: #8a4baf;
      }
    }
  }
} */


/* ===== HEADER ===== */

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #0f172a;
  color: white;

  padding: 18px 30px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 999;
}

/* prevent content hiding */
body {
  padding-top: 80px;
}

/* ===== LOGO ===== */

.nav-logo {
  font-size: 24px;
  font-weight: 600;
}

/* ===== NAV LINKS DESKTOP ===== */

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #f59e0b;
}

/* ===== HAMBURGER ===== */

.nav-hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* ===== MOBILE ===== */

@media (max-width: 768px) {

  .nav-hamburger {
    display: block;
  }

  .nav-links {
    position: fixed;

    top: 70px;
    left: 0;

    width: 100%;
    height: calc(100vh - 70px);

    background: #020617;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 35px;

    transform: translateX(100%);
    transition: 0.4s;

  }

  .nav-links a {
    font-size: 22px;
  }

  .nav-active {
    transform: translateX(0);
  }
} 








